################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Flashcards/bin/Debug
/Flashcards/obj/Debug
